@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-color: bisque;
}
footer{

background-color: aqua;
color: black;
bottom: 0%;





}
footer p{
text-align: center;
font-size: 0.6rem;
margin: top 0.5rem;
}
#container{
     display: flex;
}

.cartao{
margin: 1rem 1rem;
background-color: aqua;
height: 10rem;
width: 20rem;
flex-grow: 1;
flex-basis: calc(33% - 6rem);
}
